[submodule "modules/projects/SDL"]
	path = modules/projects/SDL
	url = https://github.com/libsdl-org/SDL
	branch = 9af7a80767a8e69aa919a41102bb7ed30c4e305b
[submodule "modules/projects/skia"]
	path = modules/projects/skia
	url = https://github.com/google/skia
	branch = chrome/m127
[submodule "modules/projects/depot_tools"]
	path = modules/projects/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git

[submodule "modules/projects/boost"]
	path = modules/projects/boost
	url = https://github.com/OpenHYGUI/boost-cmake
