[submodule "modules/projects/SDL"]
	path = modules/projects/SDL
	url = https://github.com/libsdl-org/SDL
	branch = a0de6c4abf2f21b3df7b4291967fb81c461fe0f0
[submodule "modules/projects/skia"]
	path = modules/projects/skia
	url = https://github.com/google/skia
	branch = chrome/m129
[submodule "modules/projects/depot_tools"]
	path = modules/projects/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git

[submodule "modules/projects/boost"]
	path = modules/projects/boost
	url = https://github.com/OpenHYGUI/boost-cmake
[submodule "modules/projects/USRefl"]
	path = modules/projects/USRefl
	url = https://github.com/Ubpa/USRefl
